    @import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);
    body {
        font-family: "Raleway", sans-serif !important;
        display: flex;
        flex-direction: column;
    }
    
    @media only screen and (max-width: 800px) {
        .main_video {
            width: auto !important;
        }
    }
    
    @media only screen and (min-width: 1000px) {
        .container-fluid {
            width: 80%
        }
    }
    
    @media only screen and (max-width: 800px) {
        .bg {
            width: auto !important;
            height: auto !important;
            margin: 0 !important;
        }
        .column_1 {
            width: 100%;
        }
        .main_video {
            width: auto !important;
        }
        .map {
            margin-top: 5%;
            height: 300px;
        }
    }
    
    .raleway-bold {
        font-family: "Raleway", sans-serif !important;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    
    .raleway-normal {
        font-family: "Raleway", sans-serif !important;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        color: black;
    }
    
    .bg {
        position: relative;
        left: 0;
        height: auto;
        width: auto;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 20px calc((100% - 960px) * 0.5);
        justify-content: center;
        display: flex;
        z-index: 1;
    }
    
    .nav-link {
        font-weight: 600;
    }
    
    .main_video {
        width: 100%;
        position: fixed;
        z-index: 0;
    }
    
    .main-footer {
        position: relative;
    }
    
    .room_img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card {
        background: none;
    }
    
    .card-body {
        background-color: rgba(255, 255, 255, 0.8);
        align-self: center;
        width: 100%;
    }
    
    .button_room {
        /* background-color: white; */
        padding: 2%;
        border-radius: 10px;
        border: 2px solid black;
    }
    
    .button_room:hover {
        background-color: black;
        color: white;
    }
    
    .gallery_img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .column_1 {
        display: flex;
        justify-content: center;
    }